/* You can add global styles to this file, and also import other style files */
.bg-green-600{
    background-color: #00C05F;
}
.bg-green-700{
    background-color: #00C05F;
}
.text-green-600{
color: #00C05F;
}
.is-invalid{
    border-color: red;
}
.invalid-feedback{
    color: red;
}
.text-white{
    color: whitesmoke;
}